In [1]:
import os
import pandas as pd

In [2]:
train_dir = '/opt/ml/input/data/train/images'
test_dir = '/opt/ml/input/data/eval/'

In [3]:
train_df = pd.read_csv("/opt/ml/input/data/train/train.csv")

In [4]:
def age_group(x):
    if x < 30:
        return 0
    elif x < 60:
        return 1
    else:
        return 2
    
def gender_group(x):
    if x == 'male':
        return 0
    else:
        return 1

In [5]:
df = pd.DataFrame(None, columns = ['gender', 'age','maskOX','maskGB','class','path'])

for index, line in enumerate(train_df.iloc):
    for file in list(os.listdir(os.path.join(train_dir, line['path']))):
        if file[0] == '.':
            continue
        if file.split('.')[0] == 'normal':
            mask = 2
        elif file.split('.')[0] == 'incorrect_mask':
            mask = 1
        else:
            mask = 0
        gender = 0 if line['gender'] == 'male' else 1
        data = {
            'gender' : gender_group(line['gender']),
            'age' : age_group(line['age']),
            'maskOX' : 0 if mask == 2 else 1, # 마스크 안쓰면 0, 쓰면 1
            'maskGB' : None if mask == 2 else (0 if mask == 1 else 1), # 마스크 안쓰면 none, 마스크 비정상이면 0, 마스크 정상이면 1
            'path': os.path.join(train_dir, line['path'], file),
            'class': mask * 6 + gender * 3 + age_group(line['age'])
        }
        df = df.append(data, ignore_index=True)
# 마스크 5:1:1
df.to_csv('/opt/ml/code/total.csv', index=False)

In [6]:
df = pd.DataFrame(None, columns = ['gender', 'age','maskOX','maskGB','class','path'])

for index, line in enumerate(train_df.iloc):
    for file in list(os.listdir(os.path.join(train_dir, line['path']))):
        if file[0] == '.':
            continue
        if file.split('.')[0] == 'normal':
            mask = 2
        elif file.split('.')[0] == 'incorrect_mask':
            mask = 1
        elif file.split('.')[0] == 'mask1':
            mask = 0
        else:
            continue
        gender = 0 if line['gender'] == 'male' else 1
        data = {
            'gender' : gender_group(line['gender']),
            'age' : age_group(line['age']),
            'maskOX' : 0 if mask == 2 else 1, # 마스크 안쓰면 0, 쓰면 1
            'maskGB' : None if mask == 2 else (0 if mask == 1 else 1), # 마스크 안쓰면 none, 마스크 비정상이면 0, 마스크 정상이면 1
            'path': os.path.join(train_dir, line['path'], file),
            'class': mask * 6 + gender * 3 + age_group(line['age'])
        }
        df = df.append(data, ignore_index=True)
# 마스크 1:1:1
df.to_csv('/opt/ml/code/total_111.csv', index=False)

In [7]:
df

,gender,age,maskOX,maskGB,class,path
0,1,1,1,1,4,/opt/ml/input/data/train/images/000001_female_...
1,1,1,0,None,16,/opt/ml/input/data/train/images/000001_female_...
2,1,1,1,0,10,/opt/ml/input/data/train/images/000001_female_...
3,1,1,1,1,4,/opt/ml/input/data/train/images/000002_female_...
4,1,1,0,None,16,/opt/ml/input/data/train/images/000002_female_...
...,...,...,...,...,...,...
8095,0,0,0,None,12,/opt/ml/input/data/train/images/006957_male_As...
8096,0,0,1,0,6,/opt/ml/input/data/train/images/006957_male_As...
8097,0,0,1,1,0,/opt/ml/input/data/train/images/006959_male_As...
8098,0,0,0,None,12,/opt/ml/input/data/train/images/006959_male_As...
8099,0,0,1,0,6,/opt/ml/input/data/train/images/006959_male_As...